header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
    background-color: #2c2c2c;
}

.name {
    font-size: 40px;
    color: #ce9e62;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: #ce9e62;
}

a:hover {
    cursor: pointer;
    color: #ff8c00;
    transition: 0.4s;
}

@media (max-width: 768px) {

    header{
        height: 80px;
    }
    
    .name {
        font-size: 28px;
    }

    .nav-links li {
        font-size: 16px;
        padding: 0 15px;
    }

}

@media (max-width: 480px) {

    header{
        height: 60px;
    }
    
    .name {
        font-size: 24px;
    }

    .nav-links li {
        font-size: 12px;
        padding: 0 10px;
    }

}